* {
	margin: 0;
	padding: 0;
}

:root {
	--primarycolor: rgb(173, 216, 230);
	--primarydarkcolor: rgb(60, 77, 83); 
	--darkcolor: rgb(43, 43, 43);
	--darkercolor: rgb(31, 31, 31);
	--lightcolor: white;
}

.page-container {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.board-container {
	padding: 3vh 3vw;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--darkcolor);
	color: var(--lightcolor);
}

.navbar {
	padding: 2vh 2vw;
	background: filter(brightness(120%));
}

.navbar > a {
	padding: 0 10px;
	color: inherit;
	text-decoration: none;
}
.navbar > a:hover {
	opacity: .7;
}

.navbar > h2 {
	display: inline;
	padding: 0 2vw;
}

table.move-table {
	margin: 50px;
	width: 40vmin;
	height: auto;
	background: var(--darkercolor);
}

.move-number {
	width: 10%
}

.current-move {
	background: var(--primarydarkcolor)
}

.move-name:hover {
	background: var(--darkcolor)
}

.move-name {
	width: 45%
}
